* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Aplicando los estilos al main-container*/
.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}